@-moz-document domain("translate.google.cn"), domain("translate.google.com") {
.T4LgNb,.zQTmif,.SSPGKf,.RvYhPd,.BIdYQ,.aL9XFd,.gb_pa .gb_Fd.gb_Ld.gb_Md,body,html{
    background-color: #1c1c1c;
}
.gb_pa svg,.gb_C[aria-expanded=true] .gb_Pe, .gb_C[aria-expanded=true] .gb_Qe{
    fill: #fff;
}
.gb_Wc .gb_Zd,.KjuTac .FwR7Pc{
    color: #fff;
}
#document > .EHzcec .eejsDc{
    background-color: #222 !important;
}

.gb_Ac{
    background-color: #222;
    color: #eee;
}
.gb_pa svg, .gb_Ac svg, .gb_Wc .gb_Zd, .gb_Mc .gb_Zd{
    color: #eee;
}
.GR2kEe>a:hover,.KjuTac .FwR7Pc{
    background-color: #101010;
}

.ccvoYb,.lyY31c,.P6w8m,.pEyuac,.fMHXgc,.yFQBKb,.dePhmb,.P6w8m.BDJ8fb:not(.Jj6Lae),.KjuTac,.k5v5Nb{
    background-color: #2c2c2c;
}
.qiN4Vb:not(:disabled) .VfPpkd-kBDsod, .qiN4Vb:not(:disabled),.tm8pq,.yUUmWd .VfPpkd-jY41G-V67aGc,.ZTPlmc,.yFQBKb,.qSb8Pe,.er8xn,.UdTY9,.J0lOec,.SSgGrd:not(:disabled),.uNr6ee,.MXuJQd,.zoVAod,.AarNVd{
    color: #eee;
}
.xUPQqb,.VhOj3e,.d3Mtee,.TEGJAb,.PsfnLc,.gHl6Mc,.BL1djf,.swFHJd{
    color: #eaeaea;
}
.qSb8Pe.KKjvXb{
    background-color: #1c1c1c;
}
.qSb8Pe:hover,.sUGHdf{
    background-color: #111;
    color: #fff;
}
.KjuTac .FwR7Pc{
    border: 1px solid #fff;
}
.Bcbxbe{
    border-bottom: 1px solid #666;
}

.ita-kd-img,.ita-kd-menuitem.ita-kd-selected .ita-kd-checkbox{
    filter: invert(100%);
}

.I87fLc.XzOhkf,.PsfnLc{
    background-color: #2c2c2c;
    border: 1px solid #666;
    color: #ddd;
}
.jTj8gd.XzOhkf .a2Icud,.SMqeCb,.oJweqc.Qbfsob:hover{
    background-color: #2c2c2c;
}
.nYkDR,.RSggmb,.fw3eif,.jTj8gd.XzOhkf,.aia4Ud,.NqnNQd{
    color: #eee;
}
.S6GkK{
    color: #fff;
    font-weight: bold;
}
.MZgjEb,.LV4pme,.xex4Kc{
    color: #aaa;
}
.PG9puc,.DNFg3e,.oJweqc.KKjvXb{
    background-color: #111;
    color: #eee;
}
.J0lOec > span > span > span:hover,.J0lOec > span > span > span:hover:after{
    background-color: #111;
}

.vk-box,.ita-hwt-candidates,.ita-hwt-buttons,.ita-kd-dropdown-menu{
    background-color: #111;
}
.vk-t,.ita-hwt-candidate,.ita-kd-menuitem{
    color: #fff;
}
.vk-btn,.ita-hwt-jfk-standard{
    background-image: linear-gradient(to bottom,#222,#666);
    color: #fff;
}
.vk-btn.vk-sf-h,.vk-btn.vk-sf-s{
    background-image: linear-gradient(to bottom,#666,#222);
}

.ita-hwt-ime{
    background-color: #222;
}
.ita-hwt-candidate-hover{
    background-color: #333;
}

.Xcmxjb.FwR7Pc,.JLqJ4b.C1N51c{
    background-color: #001bff;
    color: #fff;
}
.gb_Ke{
    display: none;
}
::-webkit-scrollbar{
    background-color: #1c1c1c;
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: #0f0f0f;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #000;
}
::-webkit-scrollbar-button{
    background-color: #000;
    height: 20px;
}
::-webkit-scrollbar-button:hover{
    background-color: #fff;
}

}

@-moz-document url-prefix("https://ogs.google.com/widget/app/so?bc=1&origin=https%3A%2F%2Ftranslate.google.cn"), url-prefix("https://ogs.google.com/u/0/widget/app?bc=1&origin=https%3A%2F%2Ftranslate.google.com") {
.u4RcUd,.LVal7b,.WwFbJd,.WwFbJd>a{
    background-color: #222;
}
.Rq5Gcb{
    color: #eee;
}
.j1ei8c>a:hover,.j1ei8c>a:hover .Rq5Gcb,.WwFbJd>a:hover{
    background-color: #333;
    color: #eee;
}
.dGrefb{
    border-bottom: 1px solid #000;
    margin: 0;
}

::-webkit-scrollbar{
    background-color: #222;
}
.EHzcec::-webkit-scrollbar-thumb{
    background-color: #0f0f0f;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #000;
}
}

@-moz-document domain("translate.google.com") {
.ySES5,.gb_E,.gb_vb.gb_vb{
    background-color: #2c2c2c;
}
.gb_Cb.gb_Cb{
    background-color: #3c3c3c;
}
.TcXXXb{
    color: rgb(255 255 255 / 54%);
}
.myVd4c .ySES5,.gb_rb.gb_rb{
    background-color: #3c3c3c;
}
.RvYhPd.Q5Onnd, .RvYhPd.dtohSe,.kiSRoe,.q6oraf .VfPpkd-StrnGf-rymPhb,.IQu6Fd{
    background-color: #1c1c1c;
}
.gb_E,.gb_vb.gb_vb,.gb_Cb.gb_Cb,.gb_rb.gb_rb,.gb_k .gb_nb,.gb_sb,.gb_tb.gb_tb,.zRANPd:not(:disabled),.q6oraf .VfPpkd-StrnGf-rymPhb,.kgJkHd{
    color: #eee;
}
.gb_k .gb_lb{
    color: #fff;
}
.gb_tb.gb_tb:hover{
    color: #000;
}
.gb_k.gb_0a{
    border: 1px solid #aaa;
}

.NBY4Kb,.D2iQR,.AzKM4,.DLAnyc,.vDGmEc,.GKdr2,.LpQB8e,.NdeSHd,.j27i7{
    background-color: #2c2c2c;
/*     border-bottom: 1px solid #aaa; */
}
.JVGQzb,.j27i7,.HBuoue{
    color: #eee;
}
.Q2P1Eb:hover,.vvNkBd:hover,.tvua2:hover,.zRANPd:not(:disabled):hover{
    background-color: #000;
    color: #fff;
}
.XMNbjd,.v2OCrb,.trWsae,.HswdMd,.mTQVx,.ZQWYD,.aWlm2e,.AP34ab,.vxsGZ,.VfPpkd-vQzf8d,.EXtLjf{
    color: #fff;
}
.INImOe,.NMm5M{
    fill: #fff;
}
.BnqVXb{
    filter: invert(10%);
}
.EYBmYc,.uqiNJb,.nIvUSc,.oWkzh,.rlqS5d,.cfWmIb:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-TvZj5c-OWXEXe-M1Soyc,.irVajb,.HYAIUe{
    color: #ddd;
}
.vvNkBd:not(:last-of-type){
    border-bottom: 1px solid #888;
}
.v2OCrb.Fc1vAd{
    background-color: #2c2c3c;
    color: #02e;
}
}
